.login:focus {
  background-color: #1b2132;
  color: white; 
}

.login {
  background-color: #1b2132;
  color: white; 
}
.header {
  text-align: center;
  margin-top: 10%;
}
.place {
  padding-top: 40%;
  padding-left: 20%;
  padding-right: 20%;
}

.translateInput {
  padding-top: 10%;
  padding-left: 10%;
  padding-right: 10%;
}

.translateCard {
  background-color: #1b2132;
  color: white;
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 10%;

  border: 1px solid white;
  border-radius: 15px;
  
}


.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */